#container {
    font-family: 'Kameron', serif;
}

p{
  margin-left: 30px
}


img{
  margin-left: 30px
}


*{
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  height: 100vh;
}

header{
  position: fixed;
  top: 0;
  width: 100%
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}